* {
    padding: 0;
    margin: 0;
}

/*header*/
.header {
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.nav-bar {
    margin: auto;
    width: 100%;
}
/* Menu desplegable*/
.menu {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.menu li a {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.menu li a:hover {
    background-color: #434343;
}

.menu > li {
    float: left;
}

.menu li ul {
    display: none;
    position: absolute;
    list-style: none;
    /* min-width: 140px; */
    width: 100%;
}

.menu li:hover > ul {
    display: block;
}

